.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    /* border: 2px solid black; */
}

.button {
    border: 1px solid rgb(255, 255, 255);
    margin: 0 30px;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}


