.footer {
    display: flex;
    justify-content: center;
}

.button {
    border: 1px solid black;
    margin: 0 30px;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}


