@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  max-width: 100%;
  max-height: 100%;
}

*::-webkit-scrollbar {
  overflow-x: hidden;
  overflow-y: hidden;
  display: none;
}

.app::-webkit-scrollbar {
  overflow-x: hidden;
  overflow-y: hidden;
  display: none;
}


/* ProductCard */
.wrapper-style {
  position: relative;
  width: 250px;
  height: 800px;
  /* border: 1px solid black; */
}

.header {
  position: absolute;
  top: 0px;
  justify-content: space-around;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

h1.suggestion {
  font-family: 'Kaushan Script', cursive;
}

.card-body.container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  flex-wrap: wrap;
}

.swipe {
  position: absolute;
  z-index: -1;
}

@media only screen and (min-width: 480px) {
  .body_container {
    margin-top: 15vh;
    margin-bottom: 5vh;
  }

  /* .card {
    padding: 1px;
    max-width: 115vw;
    height: 60vh;
    background-size: cover;
    background-position: center center;
  } */

  .footer {
    bottom: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .body_container {
    margin-top: 13vh;
    margin-bottom: 5vh;
  }

  /* .card {
    padding: 3px;
    max-width: 85vw;
    min-width: 65vw;
    height: 61vh;
    background-size: cover;
    background-position: center center;
  } */

  .footer {
    bottom: 6vh;
  }
}

.footer {
  position: absolute;
  bottom: 6px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* Categories Page */

.categories-page-container {
  backdrop-filter: blur(20px);
  height: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.categories-page-container .title-container h1{
  font-family: 'Kaushan Script', sans-serif;
  font-size: 5rem;
}

.category-cards-container {
  margin-top: 10vh;
  display: flex;
  padding: 35px 320px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-cards-holder {
  min-width: 20vw;
  height: 25vh;
  margin: 1rem 0;
  /* background: rgba(255, 255, 255, 0.089); */
  /* background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fosf.digital%2Flibrary%2Fmedia%2Fosf%2Fdigital%2Fmodules%2FSocial-Media-Images%2FHP-SM-image.jpg&f=1&nofb=1'); */
  /* background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.tGVMpCG5HCRe9G7LKFCuWQHaEK%26pid%3DApi&f=1'); */

  background-size: contain;
  /* background-color: rgba(125, 211, 207, 0.678); */
  background: linear-gradient(to right, rgba(125, 211, 207), rgb(238, 206, 164));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: rgb(0, 0, 0);

  padding: 1rem;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(41, 40, 40, 0.5);

}

.category-cards-holder:hover{
  transform: translateY(-10px);
  transition: all .1s ease;
  box-shadow: 2.5px 3px 3px rgba(255, 255, 255, 0.5);
}


.category-cards-holder h3 {
  font-family: 'Kaushan Script', sans-serif;
}

.category-cards-holder ul {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.category-cards-holder a {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 1.3rem !important;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

/* products cards */
.product-card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-card-container a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-family: 'Kaushan Script', sans-serif;
}

.product-card-container .card-body{
  justify-content: center;
  align-items: center;
  display: flex;
}

.favori .product-card-container .card-body{
  flex-wrap: wrap;
  max-width: 950px;
}

.product-card-container .wrapper-style {
  /* border: 3px solid rgb(75, 65, 225); */
  background-color: rgb(100, 100, 100);
  border-radius: 20px;
  padding: 10px 0;
  min-width: 35vw;
  background: repeating-linear-gradient(0deg, black, transparent 500px);
}

.favori .product-card-container .wrapper-style {
  max-width: 29%;
  width: 100%;
  margin: 8px;
  height: auto;
  background: linear-gradient(0deg, black, rgb(0 0 0 / 45%) 500px);
}

.product-card-container .actions-styles {
  /* border: 1px solid rgb(242, 72, 217); */
  color: #fff;
  font-size: 3rem;
}

.product-card-container .product-image-container {
  padding: 0 5%;
  height: 45vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 3px solid rgb(22, 220, 22); */

}

.product-title {
  text-align: center;
  font-family: 'kaushan Script', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.favori .product-title {
  font-size: unset;
  height: 60px;
}

.favori .product-title h1 {
  font-size: 1.5rem;
}

.divider {
  border: 1px solid black;
}

.price-holder {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-holder h3 {
  font-size: 3rem;
}

.favori .price-holder h3{
  font-size: 2.3rem;
  color: #fff;
}
