@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
    max-width: 100%;
    max-height: 100%;
  }
  *::-webkit-scrollbar {
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
  }

  .App {
    font-family: poppins, "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
  }
  .footer {
    position: absolute;
    bottom: 6px;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .App::-webkit-scrollbar {
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
  }

  .header {
    position: absolute;
    top: 0px;
    justify-content: space-around;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  h1.suggestion {
    font-family: 'Kaushan Script', cursive;
  }

  .body_container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    flex-wrap: wrap;
  }
  .swipe {
    position: absolute;
    z-index: -1;
  }
  .card {
    position: relative;
    background-color: #fff;
    height: 80vh;
    width: 350px;
    max-width: 100vh;
    padding: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 5px rgba(197, 6, 6, 0.3);
  }
  .card > span {
    position: absolute;
    font-size: 25px;
    color: rgb(192, 46, 192);
    background-color: rgb(236, 197, 197);
    border-radius: 99px;
    bottom: 0px;
    left: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer .replay {
    background: #fcfafa;
    box-shadow: 30px 30px 60px 5px #bebebe, -20px -20px 30px #ffffff;
    color: blue;
  }
  .footer .close {
    background: #fcfafa;
    box-shadow: 20px 20px 30px #bebebe, -20px -20px 60px #ffffff;
    color: red;
  }
  .footer .star {
    background: rgb(252, 247, 247);
    box-shadow: 20px 20px 30px #bebebe, -20px -20px 60px #ffffff;
    color: green;
  }
  .footer .fav {
    background: rgb(252, 247, 247);
    box-shadow: 20px 20px 30px #bebebe, -20px -20px 60px #ffffff;
    color: rgb(240, 68, 96);
  }
  .footer .flash {
    background: rgb(252, 247, 247);
    box-shadow: 20px 20px 30px #bebebe, -20px -20px 60px #ffffff;
    color: blueviolet;
  }
  .header .header_left {
    background: rgb(252, 247, 247);
    box-shadow: 2px 0px 10px #bebebe, -20px -20px 60px #ffffff;
  }
  .header .header_right {
    background: rgb(252, 247, 247);
    box-shadow: 2px 0px 10px #bebebe, -10px -10px 20px #ffffff;
  }

  .favoribg {
    background-color: rgb(10, 7, 8);
    color: white;
    box-shadow: 2px 0px 10px #bebebe, -10px -10px 20px #ffffff;
    border-radius: 99px;
    width: 60%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
  }
  .favoribg {
    font-size: 25px;
    font-weight: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (min-width: 480px) {
    .body_container {
      margin-top: 15vh;
      margin-bottom: 5vh;
    }
    .card {
      padding: 1px;
      max-width: 115vw;
      height: 60vh;
      background-size: cover;
      background-position: center center;
    }
    .footer {
      bottom: 35px;
    }
    .repaly.MuiIconButton-sizeSmall {
      size: small;
    }
    .favorbg {
      margin-left: 20%;
      margin-right: 20%;
    }
    .favoribg > span {
      font-size: 27px;
    }
    .card > span {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 800px) {
    .body_container {
      margin-top: 13vh;
      margin-bottom: 5vh;
    }
    .card {
      padding: 3px;
      max-width: 85vw;
      min-width: 65vw;
      height: 61vh;
      background-size: cover;
      background-position: center center;
    }
    .footer {
      bottom: 6vh;
    }
  }